@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

/* Custom style group */
.cs-main-bg-theme {
  @apply h-screen bg-gradient-to-r from-red-200 to-sky-200 dark:from-amber-950 dark:to-blue-950
}
.cs-border-btn-t-100 {
  border: 0.5px solid rgba(180, 201, 207, 0.5);
}
.cs-border-zinc-t-600 {
	border: 1px solid rgba(82, 82, 91, 0.4);
}
.cs-navbar-style-light{
  @apply w-full bg-gray-100 bg-opacity-20 backdrop-blur-2xl
}
.cs-navbar-style-dark{
  @apply w-full bg-gray-900 bg-opacity-20 backdrop-blur-2xl
}

.cs-block-style-grey-900 {
  @apply w-full bg-gray-900 bg-opacity-30 rounded-xl backdrop-blur-2xl cs-border-zinc-t-600 py-4 px-4
}
.cs-block-style-white-theme {
  @apply w-full bg-gray-100 bg-opacity-30 rounded-xl backdrop-blur-2xl border-solid border border-gray-200 py-4 px-4
}
.cs-post-scroll-height {
  height: calc(100vh - 60px);
}
.cs-gradient-logo-style-light {
  background: linear-gradient(to right bottom, #753a88 10%, #cc2b5e 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cs-gradient-logo-style-dark {
  background: linear-gradient(to right bottom, #ffa751 0%, #ffe259 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-common {
  @apply text-base text-gray-200 w-5 h-5
}

@layer base {
/* Custom :focus style */
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    border-top: none;
    border-left: none;
    border-right: none;
  },
  [type='text']:focus,
  select:focus {
    @apply focus:border-gray-500 focus:ring-transparent;
  },
  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-indigo-600 focus:ring-indigo-500;
  }

}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}